<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".BehaviorTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BehaviorTracker"
        tools:targetApi="34">

        <!-- Main Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BehaviorTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add/Edit Behavior Activity -->
        <activity
            android:name=".ui.add.AddBehaviorActivity"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Behavior Detail Activity -->
        <activity
            android:name=".ui.detail.BehaviorDetailActivity"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:parentActivityName=".ui.main.MainActivity" />

    </application>

</manifest>
